# ![](https://ga-dash.s3.amazonaws.com/production/assets/logo-9f88ae6c9c3871690e33280fcf557f33.png) Intro to Pandas 2
Week 2 | Day 2

### LEARNING OBJECTIVES
*After this lesson, you will be able to:*
- Use the .loc function to slice
- Set and reset DataFrame Indices
- Use .isin()
- Perform boolean indexing on dataframes
- Perform math functions on pandas Series

## Recap of yesterday

### Importing pandas:
```python
import pandas as pd
```

### Reading in a csv: 

```python
df = pd.read_csv()
```

### Viewing the head and tail

```python
df.head()
df.tail()
```

### Viewing the columns and the index
```python
df.columns
df.index
```

In [ ]:
## use for loop to rename a large list of columns. regular rename

### Data type info
```python
df.info()
```

### Summary statistics
```python
df.describe()
df['some_column_name'].max()
df['some_column_name'].min()
```

### Uniques
```python
df['some_column_name'].nunique()
df['some_column_name'].unique()
```

### Creating a histogram
```python
df['some_column_name'].hist()
```

## Slicing with .iloc

In [1]:
# import pandas
import pandas as pd

# create a dictionary
numbs = {'ones': [1, 2, 3, 4], 'tens': [10, 20, 30, 40], 'hundos': [100, 200, 300, 400]}

# pass dictionary into DataFrame and set the columns to keep the order
df = pd.DataFrame(numbs, columns=['ones', 'tens', 'hundos'])

In [2]:
#easiest way to creat df: create dictionary and the keys become column names

### Slicing with .iloc

In [3]:
df

   ones  tens  hundos
0     1    10     100
1     2    20     200
2     3    30     300
3     4    40     400

### How do we get column 1?

In [6]:
# solution

df.iloc[:, 0]

0    1
1    2
2    3
3    4
Name: ones, dtype: int64

In [9]:
# solution

df.iloc[:, 0].to_frame()

   ones
0     1
1     2
2     3
3     4

In [10]:
# solution

df.iloc[:, 0:1]

   ones
0     1
1     2
2     3
3     4

In [8]:
df.iloc[1,:].to_frame()

          1
ones      2
tens     20
hundos  200

### How do we turn it into a DataFrame?

## How do we get the first  3 rows and 2 columns?

In [11]:
df.iloc[:3, :2]

   ones  tens
0     1    10
1     2    20
2     3    30

### Notice this is exclusive - we get 0, 1, 2 for rows and 0,1 for columns

In [17]:
# exclusive (i.e 3 only returns up to 3, not including 3)

### One more. How do we get all rows and column 0 and 2?

In [12]:
df.iloc[:, [0,2]]

   ones  hundos
0     1     100
1     2     200
2     3     300
3     4     400

### Can we get only columns with an 'o' in them with iloc?

In [14]:
df.iloc[:, [x for x in df.columns if 'o' in x]]

# cannot because iloc is integer based. does not look at names

TypeError: cannot perform reduce with flexible type

## No.

## Introducing .loc

In [15]:
df.loc[:, [x for x in df.columns if 'o' in x]]

#.loc searches by name and stuff

   ones  hundos
0     1     100
1     2     200
2     3     300
3     4     400

### .loc allows us to use combined slicing: numeric and named

In [16]:
df.loc[:3, ['ones', 'tens']]

   ones  tens
0     1    10
1     2    20
2     3    30
3     4    40

### Notice that it is inclusive! It includes the last item listed

### Notice we can't use the .iloc syntax of all numerics

In [18]:
df.loc[:2, 1]

TypeError: cannot do label indexing on <class 'pandas.indexes.base.Index'> with these indexers [1] of <type 'int'>

## Let's change the index

In [20]:
from string import ascii_lowercase

# change the index to be lower case letters
df.index = [x for x in ascii_lowercase[:len(df.index)]]

# changes the number labeling to letters

In [21]:
df

   ones  tens  hundos
a     1    10     100
b     2    20     200
c     3    30     300
d     4    40     400

## Now we'll use .loc to slice with a named index

In [27]:
# list of indicies
df.loc[['a','c'], :]

# all columns, just a and c rows

   ones  tens  hundos
a     1    10     100
c     3    30     300

In [28]:
# slicing with named indices
df.loc['b':, :]

# all columns, rows b and onward

   ones  tens  hundos
b     2    20     200
c     3    30     300
d     4    40     400

In [38]:
state_df.set_index('abbreviation')

                        name name_length
abbreviation
WA                Washington          10
WI                 Wisconsin           9
WV             West Virginia          13
FL                   Florida           7
WY                   Wyoming           7
NH             New Hampshire          13
NJ                New Jersey          10
NM                New Mexico          10
NC            North Carolina          14
ND              North Dakota          12
NE                  Nebraska           8
NY                  New York           8
RI              Rhode Island          12
NV                    Nevada           6
CO                  Colorado           8
CA                California          10
GA                   Georgia           7
CT               Connecticut          11
OK                  Oklahoma           8
OH                      Ohio           4
KS                    Kansas           6
SC            South Carolina          14
KY                  Kentucky           8
OR                    Oregon           6
SD              South Dakota          12
DE                  Delaware           8
HI                    Hawaii           6
TX                     Texas           5
LA                 Louisiana           9
TN                 Tennessee           9
PA              Pennsylvania          12
VA                  Virginia           8
AK                    Alaska           6
AL                   Alabama           7
AR                  Arkansas           8
VT                   Vermont           7
IL                  Illinois           8
IN                   Indiana           7
IA                      Iowa           4
AZ                   Arizona           7
ID                     Idaho           5
ME                     Maine           5
MD                  Maryland           8
MA             Massachusetts          13
UT                      Utah           4
MO                  Missouri           8
MN                 Minnesota           9
MI                  Michigan           8
MT                   Montana           7
MS               Mississippi          11

In [36]:
state_df = {
        'AK': 'Alaska',
        'AL': 'Alabama',
        'AR': 'Arkansas',
        'AZ': 'Arizona',
        'CA': 'California',
        'CO': 'Colorado',
        'CT': 'Connecticut',
        'DE': 'Delaware',
        'FL': 'Florida',
        'GA': 'Georgia',
        'HI': 'Hawaii',
        'IA': 'Iowa',
        'ID': 'Idaho',
        'IL': 'Illinois',
        'IN': 'Indiana',
        'KS': 'Kansas',
        'KY': 'Kentucky',
        'LA': 'Louisiana',
        'MA': 'Massachusetts',
        'MD': 'Maryland',
        'ME': 'Maine',
        'MI': 'Michigan',
        'MN': 'Minnesota',
        'MO': 'Missouri',
        'MS': 'Mississippi',
        'MT': 'Montana',
        'NC': 'North Carolina',
        'ND': 'North Dakota',
        'NE': 'Nebraska',
        'NH': 'New Hampshire',
        'NJ': 'New Jersey',
        'NM': 'New Mexico',
        'NV': 'Nevada',
        'NY': 'New York',
        'OH': 'Ohio',
        'OK': 'Oklahoma',
        'OR': 'Oregon',
        'PA': 'Pennsylvania',
        'RI': 'Rhode Island',
        'SC': 'South Carolina',
        'SD': 'South Dakota',
        'TN': 'Tennessee',
        'TX': 'Texas',
        'UT': 'Utah',
        'VA': 'Virginia',
        'VT': 'Vermont',
        'WA': 'Washington',
        'WI': 'Wisconsin',
        'WV': 'West Virginia',
        'WY': 'Wyoming'
}

In [65]:
state_df = pd.DataFrame([states.keys(),\
              states.values(),\
              [len(x) for x in states.values()]],\
              index=['abbreviation', 'name', 'name_length']).T

## DataFrame of state names

In [66]:
# we have the index as what currently?
state_df

   abbreviation            name name_length
0            WA      Washington          10
1            WI       Wisconsin           9
2            WV   West Virginia          13
3            FL         Florida           7
4            WY         Wyoming           7
5            NH   New Hampshire          13
6            NJ      New Jersey          10
7            NM      New Mexico          10
8            NC  North Carolina          14
9            ND    North Dakota          12
10           NE        Nebraska           8
11           NY        New York           8
12           RI    Rhode Island          12
13           NV          Nevada           6
14           CO        Colorado           8
15           CA      California          10
16           GA         Georgia           7
17           CT     Connecticut          11
18           OK        Oklahoma           8
19           OH            Ohio           4
20           KS          Kansas           6
21           SC  South Carolina          14
22           KY        Kentucky           8
23           OR          Oregon           6
24           SD    South Dakota          12
25           DE        Delaware           8
26           HI          Hawaii           6
27           TX           Texas           5
28           LA       Louisiana           9
29           TN       Tennessee           9
30           PA    Pennsylvania          12
31           VA        Virginia           8
32           AK          Alaska           6
33           AL         Alabama           7
34           AR        Arkansas           8
35           VT         Vermont           7
36           IL        Illinois           8
37           IN         Indiana           7
38           IA            Iowa           4
39           AZ         Arizona           7
40           ID           Idaho           5
41           ME           Maine           5
42           MD        Maryland           8
43           MA   Massachusetts          13
44           UT            Utah           4
45           MO        Missouri           8
46           MN       Minnesota           9
47           MI        Michigan           8
48           MT         Montana           7
49           MS     Mississippi          11

## Let's change the index

We have numbers as the index, let's make the index the state's abbreviation

In [49]:
state_df.set_index('abbreviation')

                        name name_length
abbreviation
WA                Washington          10
WI                 Wisconsin           9
WV             West Virginia          13
FL                   Florida           7
WY                   Wyoming           7
NH             New Hampshire          13
NJ                New Jersey          10
NM                New Mexico          10
NC            North Carolina          14
ND              North Dakota          12
NE                  Nebraska           8
NY                  New York           8
RI              Rhode Island          12
NV                    Nevada           6
CO                  Colorado           8
CA                California          10
GA                   Georgia           7
CT               Connecticut          11
OK                  Oklahoma           8
OH                      Ohio           4
KS                    Kansas           6
SC            South Carolina          14
KY                  Kentucky           8
OR                    Oregon           6
SD              South Dakota          12
DE                  Delaware           8
HI                    Hawaii           6
TX                     Texas           5
LA                 Louisiana           9
TN                 Tennessee           9
PA              Pennsylvania          12
VA                  Virginia           8
AK                    Alaska           6
AL                   Alabama           7
AR                  Arkansas           8
VT                   Vermont           7
IL                  Illinois           8
IN                   Indiana           7
IA                      Iowa           4
AZ                   Arizona           7
ID                     Idaho           5
ME                     Maine           5
MD                  Maryland           8
MA             Massachusetts          13
UT                      Utah           4
MO                  Missouri           8
MN                 Minnesota           9
MI                  Michigan           8
MT                   Montana           7
MS               Mississippi          11

## Notice that was just a view, did not change the data

In [50]:
state_df

   abbreviation            name name_length
0            WA      Washington          10
1            WI       Wisconsin           9
2            WV   West Virginia          13
3            FL         Florida           7
4            WY         Wyoming           7
5            NH   New Hampshire          13
6            NJ      New Jersey          10
7            NM      New Mexico          10
8            NC  North Carolina          14
9            ND    North Dakota          12
10           NE        Nebraska           8
11           NY        New York           8
12           RI    Rhode Island          12
13           NV          Nevada           6
14           CO        Colorado           8
15           CA      California          10
16           GA         Georgia           7
17           CT     Connecticut          11
18           OK        Oklahoma           8
19           OH            Ohio           4
20           KS          Kansas           6
21           SC  South Carolina          14
22           KY        Kentucky           8
23           OR          Oregon           6
24           SD    South Dakota          12
25           DE        Delaware           8
26           HI          Hawaii           6
27           TX           Texas           5
28           LA       Louisiana           9
29           TN       Tennessee           9
30           PA    Pennsylvania          12
31           VA        Virginia           8
32           AK          Alaska           6
33           AL         Alabama           7
34           AR        Arkansas           8
35           VT         Vermont           7
36           IL        Illinois           8
37           IN         Indiana           7
38           IA            Iowa           4
39           AZ         Arizona           7
40           ID           Idaho           5
41           ME           Maine           5
42           MD        Maryland           8
43           MA   Massachusetts          13
44           UT            Utah           4
45           MO        Missouri           8
46           MN       Minnesota           9
47           MI        Michigan           8
48           MT         Montana           7
49           MS     Mississippi          11

## Have to save as a new DataFrame or use inplace=True

In [51]:
state_df.set_index('abbreviation', inplace=True)

## Now we can see the changes 'stuck'

In [52]:
state_df

                        name name_length
abbreviation
WA                Washington          10
WI                 Wisconsin           9
WV             West Virginia          13
FL                   Florida           7
WY                   Wyoming           7
NH             New Hampshire          13
NJ                New Jersey          10
NM                New Mexico          10
NC            North Carolina          14
ND              North Dakota          12
NE                  Nebraska           8
NY                  New York           8
RI              Rhode Island          12
NV                    Nevada           6
CO                  Colorado           8
CA                California          10
GA                   Georgia           7
CT               Connecticut          11
OK                  Oklahoma           8
OH                      Ohio           4
KS                    Kansas           6
SC            South Carolina          14
KY                  Kentucky           8
OR                    Oregon           6
SD              South Dakota          12
DE                  Delaware           8
HI                    Hawaii           6
TX                     Texas           5
LA                 Louisiana           9
TN                 Tennessee           9
PA              Pennsylvania          12
VA                  Virginia           8
AK                    Alaska           6
AL                   Alabama           7
AR                  Arkansas           8
VT                   Vermont           7
IL                  Illinois           8
IN                   Indiana           7
IA                      Iowa           4
AZ                   Arizona           7
ID                     Idaho           5
ME                     Maine           5
MD                  Maryland           8
MA             Massachusetts          13
UT                      Utah           4
MO                  Missouri           8
MN                 Minnesota           9
MI                  Michigan           8
MT                   Montana           7
MS               Mississippi          11

## What if we want to go back?

In [53]:
state_df

                        name name_length
abbreviation
WA                Washington          10
WI                 Wisconsin           9
WV             West Virginia          13
FL                   Florida           7
WY                   Wyoming           7
NH             New Hampshire          13
NJ                New Jersey          10
NM                New Mexico          10
NC            North Carolina          14
ND              North Dakota          12
NE                  Nebraska           8
NY                  New York           8
RI              Rhode Island          12
NV                    Nevada           6
CO                  Colorado           8
CA                California          10
GA                   Georgia           7
CT               Connecticut          11
OK                  Oklahoma           8
OH                      Ohio           4
KS                    Kansas           6
SC            South Carolina          14
KY                  Kentucky           8
OR                    Oregon           6
SD              South Dakota          12
DE                  Delaware           8
HI                    Hawaii           6
TX                     Texas           5
LA                 Louisiana           9
TN                 Tennessee           9
PA              Pennsylvania          12
VA                  Virginia           8
AK                    Alaska           6
AL                   Alabama           7
AR                  Arkansas           8
VT                   Vermont           7
IL                  Illinois           8
IN                   Indiana           7
IA                      Iowa           4
AZ                   Arizona           7
ID                     Idaho           5
ME                     Maine           5
MD                  Maryland           8
MA             Massachusetts          13
UT                      Utah           4
MO                  Missouri           8
MN                 Minnesota           9
MI                  Michigan           8
MT                   Montana           7
MS               Mississippi          11

## Need to reset it!

In [99]:
state_df.reset_index(inplace=True)

#. .reset changes to original

In [73]:
state_df

               abbreviation name_length
name
Washington               WA          10
Wisconsin                WI           9
West Virginia            WV          13
Florida                  FL           7
Wyoming                  WY           7
New Hampshire            NH          13
New Jersey               NJ          10
New Mexico               NM          10
North Carolina           NC          14
North Dakota             ND          12
Nebraska                 NE           8
New York                 NY           8
Rhode Island             RI          12
Nevada                   NV           6
Colorado                 CO           8
California               CA          10
Georgia                  GA           7
Connecticut              CT          11
Oklahoma                 OK           8
Ohio                     OH           4
Kansas                   KS           6
South Carolina           SC          14
Kentucky                 KY           8
Oregon                   OR           6
South Dakota             SD          12
Delaware                 DE           8
Hawaii                   HI           6
Texas                    TX           5
Louisiana                LA           9
Tennessee                TN           9
Pennsylvania             PA          12
Virginia                 VA           8
Alaska                   AK           6
Alabama                  AL           7
Arkansas                 AR           8
Vermont                  VT           7
Illinois                 IL           8
Indiana                  IN           7
Iowa                     IA           4
Arizona                  AZ           7
Idaho                    ID           5
Maine                    ME           5
Maryland                 MD           8
Massachusetts            MA          13
Utah                     UT           4
Missouri                 MO           8
Minnesota                MN           9
Michigan                 MI           8
Montana                  MT           7
Mississippi              MS          11

## Exercise

Using the states_df:
- set the index to the state name and save it as new_state
- use the .loc method to select all the states that begin with the letter 'N'
- reset the index back to a zero-based index and do so inplace

In [96]:
new_state_df = state_df.set_index('name')

In [97]:
new_state_df

               abbreviation name_length
name
Washington               WA          10
Wisconsin                WI           9
West Virginia            WV          13
Florida                  FL           7
Wyoming                  WY           7
New Hampshire            NH          13
New Jersey               NJ          10
New Mexico               NM          10
North Carolina           NC          14
North Dakota             ND          12
Nebraska                 NE           8
New York                 NY           8
Rhode Island             RI          12
Nevada                   NV           6
Colorado                 CO           8
California               CA          10
Georgia                  GA           7
Connecticut              CT          11
Oklahoma                 OK           8
Ohio                     OH           4
Kansas                   KS           6
South Carolina           SC          14
Kentucky                 KY           8
Oregon                   OR           6
South Dakota             SD          12
Delaware                 DE           8
Hawaii                   HI           6
Texas                    TX           5
Louisiana                LA           9
Tennessee                TN           9
Pennsylvania             PA          12
Virginia                 VA           8
Alaska                   AK           6
Alabama                  AL           7
Arkansas                 AR           8
Vermont                  VT           7
Illinois                 IL           8
Indiana                  IN           7
Iowa                     IA           4
Arizona                  AZ           7
Idaho                    ID           5
Maine                    ME           5
Maryland                 MD           8
Massachusetts            MA          13
Utah                     UT           4
Missouri                 MO           8
Minnesota                MN           9
Michigan                 MI           8
Montana                  MT           7
Mississippi              MS          11

In [98]:
n_states = [x for x in new_state_df.index if 'N' in x(0)]

TypeError: 'str' object is not callable

In [90]:
state_df

               abbreviation name_length
name
Washington               WA          10
Wisconsin                WI           9
West Virginia            WV          13
Florida                  FL           7
Wyoming                  WY           7
New Hampshire            NH          13
New Jersey               NJ          10
New Mexico               NM          10
North Carolina           NC          14
North Dakota             ND          12
Nebraska                 NE           8
New York                 NY           8
Rhode Island             RI          12
Nevada                   NV           6
Colorado                 CO           8
California               CA          10
Georgia                  GA           7
Connecticut              CT          11
Oklahoma                 OK           8
Ohio                     OH           4
Kansas                   KS           6
South Carolina           SC          14
Kentucky                 KY           8
Oregon                   OR           6
South Dakota             SD          12
Delaware                 DE           8
Hawaii                   HI           6
Texas                    TX           5
Louisiana                LA           9
Tennessee                TN           9
Pennsylvania             PA          12
Virginia                 VA           8
Alaska                   AK           6
Alabama                  AL           7
Arkansas                 AR           8
Vermont                  VT           7
Illinois                 IL           8
Indiana                  IN           7
Iowa                     IA           4
Arizona                  AZ           7
Idaho                    ID           5
Maine                    ME           5
Maryland                 MD           8
Massachusetts            MA          13
Utah                     UT           4
Missouri                 MO           8
Minnesota                MN           9
Michigan                 MI           8
Montana                  MT           7
Mississippi              MS          11

In [ ]:
state_df.loc[]

## Using .isin()

In [188]:
state_df

   abbreviation            name name_length
0            WA      Washington          10
1            WI       Wisconsin           9
2            WV   West Virginia          13
3            FL         Florida           7
4            WY         Wyoming           7
5            NH   New Hampshire          13
6            NJ      New Jersey          10
7            NM      New Mexico          10
8            NC  North Carolina          14
9            ND    North Dakota          12
10           NE        Nebraska           8
11           NY        New York           8
12           RI    Rhode Island          12
13           NV          Nevada           6
14           CO        Colorado           8
15           CA      California          10
16           GA         Georgia           7
17           CT     Connecticut          11
18           OK        Oklahoma           8
19           OH            Ohio           4
20           KS          Kansas           6
21           SC  South Carolina          14
22           KY        Kentucky           8
23           OR          Oregon           6
24           SD    South Dakota          12
25           DE        Delaware           8
26           HI          Hawaii           6
27           TX           Texas           5
28           LA       Louisiana           9
29           TN       Tennessee           9
30           PA    Pennsylvania          12
31           VA        Virginia           8
32           AK          Alaska           6
33           AL         Alabama           7
34           AR        Arkansas           8
35           VT         Vermont           7
36           IL        Illinois           8
37           IN         Indiana           7
38           IA            Iowa           4
39           AZ         Arizona           7
40           ID           Idaho           5
41           ME           Maine           5
42           MD        Maryland           8
43           MA   Massachusetts          13
44           UT            Utah           4
45           MO        Missouri           8
46           MN       Minnesota           9
47           MI        Michigan           8
48           MT         Montana           7
49           MS     Mississippi          11

## We get a boolean (True/False) Series back

In [100]:
states_with_direction = ['North Dakota', 'North Carolina',\
                         'South Carolina', 'South Dakota',\
                         'West Virginia']

state_df['name'].isin(states_with_direction)

# .isin lists true false for if states have list

0     False
1     False
2      True
3     False
4     False
5     False
6     False
7     False
8      True
9      True
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21     True
22    False
23    False
24     True
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
Name: name, dtype: bool

## Wrapping that in state_df[ ] gives us only the True rows

In [101]:
state_df[state_df['name'].isin(states_with_direction)]

    index            name abbreviation name_length
2       2   West Virginia           WV          13
8       8  North Carolina           NC          14
9       9    North Dakota           ND          12
21     21  South Carolina           SC          14
24     24    South Dakota           SD          12

In [102]:
state_df[state_df['name'].isin(states_with_direction)].reset_index(drop=True)

   index            name abbreviation name_length
0      2   West Virginia           WV          13
1      8  North Carolina           NC          14
2      9    North Dakota           ND          12
3     21  South Carolina           SC          14
4     24    South Dakota           SD          12

## Exercise

Using the state_df DataFrame:
- use .isin() to select only those rows that have a name_length of 10 or 12 characters
- use another .isin() with a list comprehension to select only the columns that are abbreviated that begin with an 'N' or a 'S'

In [107]:

state_df[state_df['name_length'].isin(name_length(10) or name_length(12))]

#Nope

NameError: name 'name_length' is not defined

In [112]:
name_leng = 10
state_df['name_length'].isin(name_leng)

# Nope

TypeError: only list-like objects are allowed to be passed to isin(), you passed a [int]

In [114]:
state_df[state_df['name_length'].isin([10,12])]

    index          name abbreviation name_length
0       0    Washington           WA          10
6       6    New Jersey           NJ          10
7       7    New Mexico           NM          10
9       9  North Dakota           ND          12
12     12  Rhode Island           RI          12
15     15    California           CA          10
24     24  South Dakota           SD          12
30     30  Pennsylvania           PA          12

In [120]:
state_df[state_df['abbreviation'].isin([x for x in state_df['abbreviation'] if 'N' in x[0] or 'S' in x[0]])]

    index            name abbreviation name_length
5       5   New Hampshire           NH          13
6       6      New Jersey           NJ          10
7       7      New Mexico           NM          10
8       8  North Carolina           NC          14
9       9    North Dakota           ND          12
10     10        Nebraska           NE           8
11     11        New York           NY           8
13     13          Nevada           NV           6
21     21  South Carolina           SC          14
24     24    South Dakota           SD          12

## Futher into Boolean indexing

In [121]:
state_df['name_length'] > 10

0     False
1     False
2      True
3     False
4     False
5      True
6     False
7     False
8      True
9      True
10    False
11    False
12     True
13    False
14    False
15    False
16    False
17     True
18    False
19    False
20    False
21     True
22    False
23    False
24     True
25    False
26    False
27    False
28    False
29    False
30     True
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43     True
44    False
45    False
46    False
47    False
48    False
49     True
Name: name_length, dtype: bool

## Again, we can wrap that

In [122]:
# gives us the only rows that have a length greater than 10
state_df[state_df['name_length']>10]

    index            name abbreviation name_length
2       2   West Virginia           WV          13
5       5   New Hampshire           NH          13
8       8  North Carolina           NC          14
9       9    North Dakota           ND          12
12     12    Rhode Island           RI          12
17     17     Connecticut           CT          11
21     21  South Carolina           SC          14
24     24    South Dakota           SD          12
30     30    Pennsylvania           PA          12
43     43   Massachusetts           MA          13
49     49     Mississippi           MS          11

## Another example

In [123]:
state_df[state_df['name'].str.contains('South')]

    index            name abbreviation name_length
21     21  South Carolina           SC          14
24     24    South Dakota           SD          12

## Let's use an 'and' here to combine requirements (&)

In [124]:
state_df[(state_df['name_length']>12)\
          &(state_df['name'].str.contains('South'))]

    index            name abbreviation name_length
21     21  South Carolina           SC          14

## Let's use an 'or' statement (|)

In [197]:
state_df[(state_df['name'].str.contains('North'))\
          |(state_df['name'].str.contains('South'))]

   abbreviation            name name_length
8            NC  North Carolina          14
9            ND    North Dakota          12
21           SC  South Carolina          14
24           SD    South Dakota          12

In [126]:
state_df[((state_df['name'].str.contains('North'))\
          |(state_df['name'].str.contains('South')))\
          &(state_df['name_length']>12)]

    index            name abbreviation name_length
8       8  North Carolina           NC          14
21     21  South Carolina           SC          14

## Exercise

Using the state_df DataFrame:
- use Boolean indexing to select all states with a y in their name
- using the same code from the line above add another condition to only return states that have 10 or fewer characters in their name

In [133]:
state_df[(state_df['name'].str.contains('y'))\
        &(state_df['name_length']<=10)]

    index        name abbreviation name_length
4       4     Wyoming           WY           7
6       6  New Jersey           NJ          10
22     22    Kentucky           KY           8
42     42    Maryland           MD           8

In [130]:
## Yea I fucking get this!!!! Wooooooot!!

## Math with pandas columns

In [131]:
state_df

    index            name abbreviation name_length
0       0      Washington           WA          10
1       1       Wisconsin           WI           9
2       2   West Virginia           WV          13
3       3         Florida           FL           7
4       4         Wyoming           WY           7
5       5   New Hampshire           NH          13
6       6      New Jersey           NJ          10
7       7      New Mexico           NM          10
8       8  North Carolina           NC          14
9       9    North Dakota           ND          12
10     10        Nebraska           NE           8
11     11        New York           NY           8
12     12    Rhode Island           RI          12
13     13          Nevada           NV           6
14     14        Colorado           CO           8
15     15      California           CA          10
16     16         Georgia           GA           7
17     17     Connecticut           CT          11
18     18        Oklahoma           OK           8
19     19            Ohio           OH           4
20     20          Kansas           KS           6
21     21  South Carolina           SC          14
22     22        Kentucky           KY           8
23     23          Oregon           OR           6
24     24    South Dakota           SD          12
25     25        Delaware           DE           8
26     26          Hawaii           HI           6
27     27           Texas           TX           5
28     28       Louisiana           LA           9
29     29       Tennessee           TN           9
30     30    Pennsylvania           PA          12
31     31        Virginia           VA           8
32     32          Alaska           AK           6
33     33         Alabama           AL           7
34     34        Arkansas           AR           8
35     35         Vermont           VT           7
36     36        Illinois           IL           8
37     37         Indiana           IN           7
38     38            Iowa           IA           4
39     39         Arizona           AZ           7
40     40           Idaho           ID           5
41     41           Maine           ME           5
42     42        Maryland           MD           8
43     43   Massachusetts           MA          13
44     44            Utah           UT           4
45     45        Missouri           MO           8
46     46       Minnesota           MN           9
47     47        Michigan           MI           8
48     48         Montana           MT           7
49     49     Mississippi           MS          11

## Let's add a new column that is 100x name_length

In [136]:
tmp_df = state_df.copy()

tmp_df['name_length_x100'] = tmp_df['name_length'] * 100

#left is creation. right is information being pushed to creation

tmp_df

    index            name abbreviation name_length name_length_x100
0       0      Washington           WA          10             1000
1       1       Wisconsin           WI           9              900
2       2   West Virginia           WV          13             1300
3       3         Florida           FL           7              700
4       4         Wyoming           WY           7              700
5       5   New Hampshire           NH          13             1300
6       6      New Jersey           NJ          10             1000
7       7      New Mexico           NM          10             1000
8       8  North Carolina           NC          14             1400
9       9    North Dakota           ND          12             1200
10     10        Nebraska           NE           8              800
11     11        New York           NY           8              800
12     12    Rhode Island           RI          12             1200
13     13          Nevada           NV           6              600
14     14        Colorado           CO           8              800
15     15      California           CA          10             1000
16     16         Georgia           GA           7              700
17     17     Connecticut           CT          11             1100
18     18        Oklahoma           OK           8              800
19     19            Ohio           OH           4              400
20     20          Kansas           KS           6              600
21     21  South Carolina           SC          14             1400
22     22        Kentucky           KY           8              800
23     23          Oregon           OR           6              600
24     24    South Dakota           SD          12             1200
25     25        Delaware           DE           8              800
26     26          Hawaii           HI           6              600
27     27           Texas           TX           5              500
28     28       Louisiana           LA           9              900
29     29       Tennessee           TN           9              900
30     30    Pennsylvania           PA          12             1200
31     31        Virginia           VA           8              800
32     32          Alaska           AK           6              600
33     33         Alabama           AL           7              700
34     34        Arkansas           AR           8              800
35     35         Vermont           VT           7              700
36     36        Illinois           IL           8              800
37     37         Indiana           IN           7              700
38     38            Iowa           IA           4              400
39     39         Arizona           AZ           7              700
40     40           Idaho           ID           5              500
41     41           Maine           ME           5              500
42     42        Maryland           MD           8              800
43     43   Massachusetts           MA          13             1300
44     44            Utah           UT           4              400
45     45        Missouri           MO           8              800
46     46       Minnesota           MN           9              900
47     47        Michigan           MI           8              800
48     48         Montana           MT           7              700
49     49     Mississippi           MS          11             1100

## Let's add two columns together

In [137]:
tmp_df['name_added_cols'] = tmp_df['name_length'] + tmp_df['name_length_x100']

tmp_df

,index,name,abbreviation,name_length,name_length_x100,name_added_cols
0,0,Washington,WA,10,1000,1010
1,1,Wisconsin,WI,9,900,909
2,2,West Virginia,WV,13,1300,1313
3,3,Florida,FL,7,700,707
4,4,Wyoming,WY,7,700,707
5,5,New Hampshire,NH,13,1300,1313
6,6,New Jersey,NJ,10,1000,1010
7,7,New Mexico,NM,10,1000,1010
8,8,North Carolina,NC,14,1400,1414
9,9,North Dakota,ND,12,1200,1212
10,10,Nebraska,NE,8,800,808
11,11,New York,NY,8,800,808
12,12,Rhode Island,RI,12,1200,1212
13,13,Nevada,NV,6,600,606
14,14,Colorado,CO,8,800,808
15,15,California,CA,10,1000,1010
16,16,Georgia,GA,7,700,707
17,17,Connecticut,CT,11,1100,1111
18,18,Oklahoma,OK,8,800,808
19,19,Ohio,OH,4,400,404
20,20,Kansas,KS,6,600,606
21,21,South Carolina,SC,14,1400,1414
22,22,Kentucky,KY,8,800,808
23,23,Oregon,OR,6,600,606
24,24,South Dakota,SD,12,1200,1212
25,25,Delaware,DE,8,800,808
26,26,Hawaii,HI,6,600,606
27,27,Texas,TX,5,500,505
28,28,Louisiana,LA,9,900,909
29,29,Tennessee,TN,9,900,909
30,30,Pennsylvania,PA,12,1200,1212
31,31,Virginia,VA,8,800,808
32,32,Alaska,AK,6,600,606
33,33,Alabama,AL,7,700,707
34,34,Arkansas,AR,8,800,808
35,35,Vermont,VT,7,700,707
36,36,Illinois,IL,8,800,808
37,37,Indiana,IN,7,700,707
38,38,Iowa,IA,4,400,404
39,39,Arizona,AZ,7,700,707
40,40,Idaho,ID,5,500,505
41,41,Maine,ME,5,500,505
42,42,Maryland,MD,8,800,808
43,43,Massachusetts,MA,13,1300,1313
44,44,Utah,UT,4,400,404
45,45,Missouri,MO,8,800,808
46,46,Minnesota,MN,9,900,909
47,47,Michigan,MI,8,800,808
48,48,Montana,MT,7,700,707
49,49,Mississippi,MS,11,1100,1111

## Exercise

Using the state_df DataFrame again:
- Save temp_df as a copy of state_df
- Double the name_length column by adding it to itself
- Double the doubled column you created by multiplying it by 2

In [141]:
temp_df = state_df.copy()
temp_df['name_length_doubled'] = temp_df['name_length'] * 2
temp_df

    index            name abbreviation name_length name_length_doubled
0       0      Washington           WA          10                  20
1       1       Wisconsin           WI           9                  18
2       2   West Virginia           WV          13                  26
3       3         Florida           FL           7                  14
4       4         Wyoming           WY           7                  14
5       5   New Hampshire           NH          13                  26
6       6      New Jersey           NJ          10                  20
7       7      New Mexico           NM          10                  20
8       8  North Carolina           NC          14                  28
9       9    North Dakota           ND          12                  24
10     10        Nebraska           NE           8                  16
11     11        New York           NY           8                  16
12     12    Rhode Island           RI          12                  24
13     13          Nevada           NV           6                  12
14     14        Colorado           CO           8                  16
15     15      California           CA          10                  20
16     16         Georgia           GA           7                  14
17     17     Connecticut           CT          11                  22
18     18        Oklahoma           OK           8                  16
19     19            Ohio           OH           4                   8
20     20          Kansas           KS           6                  12
21     21  South Carolina           SC          14                  28
22     22        Kentucky           KY           8                  16
23     23          Oregon           OR           6                  12
24     24    South Dakota           SD          12                  24
25     25        Delaware           DE           8                  16
26     26          Hawaii           HI           6                  12
27     27           Texas           TX           5                  10
28     28       Louisiana           LA           9                  18
29     29       Tennessee           TN           9                  18
30     30    Pennsylvania           PA          12                  24
31     31        Virginia           VA           8                  16
32     32          Alaska           AK           6                  12
33     33         Alabama           AL           7                  14
34     34        Arkansas           AR           8                  16
35     35         Vermont           VT           7                  14
36     36        Illinois           IL           8                  16
37     37         Indiana           IN           7                  14
38     38            Iowa           IA           4                   8
39     39         Arizona           AZ           7                  14
40     40           Idaho           ID           5                  10
41     41           Maine           ME           5                  10
42     42        Maryland           MD           8                  16
43     43   Massachusetts           MA          13                  26
44     44            Utah           UT           4                   8
45     45        Missouri           MO           8                  16
46     46       Minnesota           MN           9                  18
47     47        Michigan           MI           8                  16
48     48         Montana           MT           7                  14
49     49     Mississippi           MS          11                  22

## Conclusion

In this lecture we covered:
- How to use the .loc function to slice and how it differs from .iloc
- How to set and reset DataFrame Indices
- How to use .isin()
- How to perform boolean indexing on dataframes
- How to combine conditions using '|' and '&'
- How to perform math on pandas Series